<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <span style="font-size:16px"><img src="/assets/PigeonLogo1.png" style="float: left">{{ site.title }}</span><p style="font-size:10px">Powered by Pigeons !</p>
      </div>
      <div class="footer-col footer-col-2">
          {%- include social.html -%}
      </div>
    <div class="footer-col footer-col-3">
        <img src="/assets/vmware_specialist_clouddev.png" style="float: left;">
        <img src="/assets/vmware_vcp2019.png" style="float: left;">
        <img src="/assets/vExpert.png" style="float: left;">
    </div>

      </div>
  </div>
</footer>
